{{!-- <div class="row row-cols-1 row-cols-md-3 mr-md-3 ml-md-3 margin-top-6 margin-bottom-3 bg-secondary">
    <div class="col mb-4">
        <div class="card h-100">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
<div class="card-body">
    <h2 id="headline1" class="card-title">
    </h2>
    <p id="abstract1" class="card-text"></p>
</div>
<div class="card-footer bg-transparent">
    <h3>Giphy Reactions:</h3>
    <div id="giphReactions">

    </div>
</div>
</div>
</div>

</div> --}}