<div class="row row-cols-1 row-cols-md-3 mr-md-3 ml-md-3 margin-top-6 margin-bottom-3 bg-secondary">
    <div class="col mb-4">
        <div class="card h-100 giph-card1">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline1" class="card-title titles">
                </h2>
                <p id="abstract1" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl1">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName1">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100 giph-card2">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline2" class="card-title titles">
                </h2>
                <p id="abstract2" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl2">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName2">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100 giph-card3">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline3" class="card-title titles">
                </h2>
                <p id="abstract3" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl3">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName3">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 giph-card4">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline4" class="card-title titles">
                </h2>
                <p id="abstract4" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl4">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName4">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 giph-card5">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline5" class="card-title titles">
                </h2>
                <p id="abstract5" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl5">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName5">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 giph-card6">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h2 id="headline6" class="card-title titles">
                </h2>
                <p id="abstract6" class="card-text abstracts"></p>
            </div>
            <div class="card-footer bg-transparent">
                <form class="giph-form">
                    <div class="form-group">
                        <label for="giphUrl1">Giph This Article with your Giphy URL!</label>
                        <input type="text" class="form-control" id="giphUrl6">
                        <label for="giphUrl1">Your Name Here:</label>
                        <input type="text" class="form-control" id="userName6">
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>

</div>