li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: orange;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
      background: orange;
  }


  .change-devoured{
    display: inline-block;
  }

  #burgerPic{
    max-height: 400px;
    max-width: 400px;

  }