{{!-- this partials handlebars doc represents a piece of data/element, in this case the one row of data from the burger table --}}
{{!-- <li>
    {{burger_name}}
    {{!-- the if/else statement here changes the button's label based on the devoured state --}}
<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}Cook-Dis-Burger-Again!{{else}}Eat-Dis-Burger!{{/if}}
</button>

</li> --}}